﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorldCitiesClient</title>
    <script src="../../Scripts/jquery-3.2.1.js"></script>
    <link href="../../Content/search.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/skripta.js"></script>
</head>
<body>
    <div class="container">
        <button type="button" id="btnCountries">Countires</button>
        |
        <button type="button" id="btnCities">Cities</button>
        <div id="dataCountry"></div>
        <div id="dataCity"></div>
        <br />
        <br />
        <div id="formDivCountry" style="display:none">
            <form method="post" action="post/" id="countryForm">
                <p><label>Name: <input id="countryName"></label></p>
                <p><label>International code: <input id="countryCode"></label></p>
                <br />
                <p><button>Submit</button></p>
            </form>
        </div>
        <div id="formDivCity" style="display:none">
            <form method="post" action="post/" id="cityForm">
                <p><label>Name: <input id="cityName"></label></p>
                <p><label>Postal code: <input id="cityCode"></label></p>
                <p><label>Population: <input type="number" id="cityPopulation"></label></p>
                <p>
                    <label>
                        Country:
                        <select id="cityCountry">
                            <!-- <option value="1"></option> -->
                        </select>
                    </label>
                </p>
                <br />
                <p><button>Submit</button></p>
            </form>
        </div>
    </div>
</body>
</html>
